
// Body
$enable-rounded: false;
$mute:#636363;


%title-shared
{
    font-weight: 300;
    color: #333333;
    text-transform: uppercase;
    margin-top: 1em;
    color: #ff0000;
    
}

%pb-50{
    padding-bottom: 1em;
}

%card-text{
    font-size: 15px !important;
    color:#666;
    margin-top: 2em;
    font-weight: 300;
}

$blue: #ff0000;
$gray-600: #333;

$body-bg:  #f1f2f2 ;
$body-color: #666;

$font-family-base: 'Ubuntu', sans-serif;

// $input-focus-bg: #dcad1a;

// $input-transition: border-color ease-in-out 1s, box-shadow ease-in-out 1s;